* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  --background-color: #f8f8f8;
  --font-color: #29292e;

  --question-bg: #fefefe;
  --question-bg-high: #F4F0FF;
  --question-bg-answered: #DBDCDD;
  --questions-icons: #737380;
}

body.darkMode {
  --background-color: #464647;
  --font-color: #f8f8f8;

  --question-bg: #808080;
  --question-bg-high: #a0a0a0;
  --question-bg-answered: #666666;
  --questions-icons: #333;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; 
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; 
  }
}

body,
input,
textarea,
button {
  font: 400 1rem 'Roboto', sans-serif;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
}

button {
  cursor: pointer;
}

.logo-svg {
  & path.letter {
   fill: var(--font-color);
  }
}